<!--THIS COMPONENT TAG/SELECTOR IS USED IN RECIPE-LIST -->
<a style="cursor: pointer;" [routerLink]="[index]" routerLinkActive="active" class="list-group-item clearfix"> <!--Since we use routers we have to remove all href as they lead to unprecedented path-->
    <div class="pull-left">                                                                                    <!--Router link active helps style active element as well-->
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>

    </div>
    <span class="pull-right">
        <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
    </span>
</a>